.part1_detail_each{
    width: 298px;
    height: 208px;
    border:1px solid #e5e7eb;
    margin-left: 50px;
    text-align: center;
    position: relative;
    .part1_detail_each_text{
        width: 160px;
        @include absolute_fix(50%,50%,none,none,-50%,-50%);
        h3{
            font-size: 20px;
            color: #465566;
            margin-top: 28px;
        }
        span{
            font-size: 16px;
            color: #939da6;
            line-height: 35px;
        }
    }
    .part1_detail_each_hide{
        @include absolute_fix(0,0,none,none,0,0);
        width: 100%;
        height: 100%;
        background: rgba(41,31,21,0.4);
        font-size: 16px;
        color: #fff;
        transition: opacity 0.4s;
        ul{
            text-align: left;
            @include absolute_fix(50%,46px,none,none,0,-50%);
            li{
                line-height: 35px;
                margin-left: 12px;
                position: relative;
                &::before{
                    content: '';
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background: #fff;
                    @include absolute_fix(50%,-12px,none,none,0,-50%);
                }
            }
        }
        @include opacity(0);
    }
    &:hover{
        .part1_detail_each_hide{
            @include opacity(1);
            filter: alpha(opacity=100);
        }
    }
}
.part1_detail_each:first-child{
    margin-left: 0;
}