.part5{
    padding-bottom: 40px;
}
.part5_detail_each{
    width:430px;
    height: 120px;
    margin-left: 140px;
    h3{
        font-size: 20px;
        color: #465566;
    }
    p{
        font-size: 14px;
        color: #7c8389;
        margin-top: 20px;
    }
}
.part5_detail_each:nth-child(2n-1){
    margin-left: 0;
}